@import url('https://fonts.googleapis.com/css2?family=Piedra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@300&family=Orienta&family=Passion+One:wght@700&display=swap');
html {
    font-size: 10px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color:#c9d6df;
    color:#ff5722;
}


.container {
    margin: 0 auto;
    max-width:1000px;
    padding: 40px;
    background-color: #c9d6df;
}

.title {
    font-size: 4.4rem;
    text-align: center;
   font-family: 'Passion One', cursive;
}